@if (workData){
<div class="dialog-body">
    <div>
        <div class="form-control">
            <div class="form-control-input">{{workData.workName}}
            </div>
            <label class="form-control-label label-up">
                {{nameTitle()}}
            </label>
        </div>


    </div>

    <div class="row">
        <div class="form-control">
            <div class="form-control-input">{{workData.projectName}}
            </div>
            <label class="form-control-label label-up">Project</label>
        </div>

        <div class="form-control">
            <div class="form-control-input">{{workData.subModuleName}}
            </div>
            <label class="form-control-label label-up">Sub-Module</label>
        </div>
    </div>

    <!-- Description -->
    <div>
        <div class="form-control">
            <div class="form-control-input">{{workData.description}}
            </div>
            <label class="form-control-label label-up">Description</label>
        </div>


    </div>

    <!-- Date Range (uses a nested formGroupName) -->
    <div>
        <div class="form-control">
            <div class="form-control-input">{{
                workData.startDate| date : "M/d/yyyy"
                }} – {{
                workData.targetDate| date : "M/d/yyyy"
                }}
            </div>
            <label class="form-control-label label-up">Target Date</label>
        </div>
        <!-- Check the nested controls for errors -->

    </div>

    <div class="row">
        <div class="form-control">
            <div class="form-control-input">{{workData.priorityName}}</div>
            <label class="form-control-label label-up">Priority</label>
        </div>


        <div class="form-control">
            <div class="form-control-input">{{workData.stateName}}
            </div>
            <label class="form-control-label label-up">State</label>
        </div>
    </div>


    <div class="row">
        <div class="form-control">
            <div class="form-control-input">{{workData.trackerName}}</div>
            <label class="form-control-label label-up">Tracker</label>
        </div>


        <div class="form-control">
            <div class="form-control-input">{{workData.activityName}}
            </div>
            <label class="form-control-label label-up">Activity</label>
        </div>
    </div>


    @if(dataService.isBugData(workData)){
    <div class="row">

        <div class="form-control">
            <!-- <textarea type="text" class="form-control-input" formControlName="description" rows="3"
                placeholder="Description"></textarea> -->
            <div class="form-control-input">
                {{workData.defectCause}}</div>
            <label class="form-control-label label-up">Defect Cause</label>
        </div>



        <div class="form-control">
            <div class="form-control-input">{{workData.workAffected}}
            </div>
            <label class="form-control-label label-up">Work Affected</label>
        </div>
    </div>
    }
    <div class="row">

        <div class="form-control">
            <!-- <textarea type="text" class="form-control-input" formControlName="description" rows="3"
                placeholder="Description"></textarea> -->
            <div class="form-control-input">
                {{workData.picName}}</div>
            <label class="form-control-label label-up">PIC</label>
        </div>



        <div class="form-control">
            <div class="form-control-input">{{workData.estimatedHours}}
            </div>
            <label class="form-control-label label-up">Estimated Hours</label>
        </div>
    </div>
</div>
}