<div class="work-container">
  <!-- <div class="indicator priority-{{workData.priorityName}}"></div> -->
  <div class="work-inner-container">
    <!-- <div class="work-id">
            <span class="work-name">{{workData.workId}}</span>
        </div> -->
    <div class="work-name-id-container">
      <div class="work-id">
        <span class="work-id">#{{ workData.workId }}</span>
      </div>
      <div class="card-name">
        <span
          (click)="openForm()"
          class="work-name"
          [matTooltip]="workData.workName"
        >
          {{ workData.workName }}</span
        >
      </div>
    </div>

    @if (dataService.isPage('dashboard')) {
    <div class="card-section">
      <div class="card-status">
        <span>{{ workData.projectName }}</span>
      </div>
    </div>

    } @if (dataService.isWorkData(workData)) {
    <div class="card-section">
      <div class="card-status">
        <span>{{ workData.trackerName }}</span>
      </div>
    </div>

    <div class="card-section">
      <div class="card-status">
        <span>{{ workData.activityName }}</span>
      </div>
    </div>
    } @if(dataService.isBugData(workData)){
    <div class="card-section">
      <div class="card-status">
        <span>{{ workData.defectCause }}</span>
      </div>
    </div>

    <div class="card-section">
      <div class="card-status">
        <span>
          <!-- This is the flex container for centering -->
          <span>{{ workData.workAffected }}</span>
          <!-- This handles the text and ellipsis -->
        </span>
      </div>
    </div>
    }

    <div class="card-section">
      <div
        (click)="statePop.toggleVisibility()"
        class="card-status state-{{
          dataService.formatClassName(workData.stateName)
        }}"
      >
        <span>{{ workData.stateName }}</span>
      </div>
      <app-pop-up-change
        #statePop
        (dataChange)="updateData('state', $event)"
        [popUpData]="{
          class: 'state',
          current: { name: workData.stateName, id: workData.stateId }
        }"
      >
      </app-pop-up-change>
    </div>
    @if (dataService.isPage('bug')) {
    <div class="card-section">
      <div
        (click)="priorityPop.toggleVisibility()"
        class="card-status priority-{{ workData.priorityName }}"
      >
        <span>{{ workData.priorityName }}</span>
      </div>
      <app-pop-up-change
        #priorityPop
        (dataChange)="updateData('priority', $event)"
        [popUpData]="{
          class: 'priority',
          current: { name: workData.priorityName, id: workData.priorityId }
        }"
      >
      </app-pop-up-change>
    </div>
    }

    <div class="card-section">
      <!-- <span class="section-label">Period</span> -->
      <div class="progress-bar" matTooltip="{{ periodPercentage() }}%">
        <span class="date-label"
          >{{ workData.startDate | date : "shortDate" }} -
          {{ workData.targetDate | date : "shortDate" }}</span
        >
        <div class="progress-fill" [style.width.%]="periodPercentage()"></div>
      </div>
    </div>
  </div>
</div>
