.work-container {
	display: flex;
	align-items: center;
	width: 100%; /* Ensures it takes full width of its parent */
	height: 3.3em;
}

.work-inner-container {
	display: flex;
	align-items: center;
	width: 100%; /* Ensures it takes full width of its parent */
	height: 2.6em;
	/* padding-bottom: 1em; */
	/* border-top: 1px solid rgba(51, 51, 51, 0.5); */
}
.arrow-icon-container {
	display: flex;
}

.indicator {
	width: 4px;

	height: 100%;
	background-color: var(--primary-blue);
}

.arrow-icon {
	font-size: 2em;
	height: auto;
	width: auto;
}
.card-name {
	align-items: center;
	flex: 1;
	font-size: 1.1em;
	font-weight: 600;
	transform: translateY(-0.05em);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.work-id {
	display: flex;
	width: 2.2em; /* padding-left: 1em; */
	font-size: 0.85em;
	font-weight: 500;
	/* padding: 0 0em 0 0.2em; */
	opacity: 70%;
}
.work-name-id-container {
	flex: 2;
	display: flex;
	align-items: center;
	overflow: hidden;

	padding: 0.1em 0em 0.5em 0.5em;
	box-sizing: border-box;
}

.card-name:hover {
	color: var(--primary-blue);
}

.card-name span {
	overflow: hidden;
	flex: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	/* white-space: nowrap; */
}

.card-section {
	display: flex;
	flex: 1;
	height: 100%;
	min-width: 0;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	padding: 0.1em 0.5em 0.5em 0.5em;

	/* border-left: 1px solid rgba(51, 51, 51, 0.5); */
	box-sizing: border-box;
}

.section-label {
	font-size: 0.85em;
	font-weight: 500;
	color: #555;
	text-transform: uppercase;
}

.date-label {
	position: relative;
	z-index: 2;
	font-size: 0.8em;
	font-weight: 500;
	color: #1f2937;
}

.progress-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: aliceblue;
	border-radius: 4px;
	border: 1px solid rgba(51, 51, 51, 0.2);
	overflow: hidden;
}

.progress-fill {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background-color: #3b82f6;
	z-index: 1;
}

.card-status {
	min-width: 0;
	height: 100%;
	width: 100%;
	display: flex;
	cursor: pointer;
}

/* This is the OUTER span: its only job is to center its child */
.card-status > span {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0.1em 0.7em;
	border: 1px solid rgba(51, 51, 51, 0.25);
	border-radius: 4px;
	font-size: 0.85em;
	font-weight: 500;
	font-family: Roboto, sans-serif;
	box-sizing: border-box;
}

/* This is the INNER span: its only job is to handle the text and the ellipsis */
.card-status > span > span {
	display: block; /* Or inline-block */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
