<div class="card module">
  <div class="module-container">
    <!-- Indicator warna berdasarkan priority -->
    <div
      class="indicator priority-{{ moduleData.priorityName }}"
      [class.expanded]="expanded()"
    ></div>

    <div class="module-inner-container">
      <!-- Tombol expand -->
      <span class="arrow-icon-container" (click)="toggleExpand()">
        <mat-icon class="arrow-icon">
          @if (!expanded()) { keyboard_arrow_right } 
          @else { keyboard_arrow_down }
        </mat-icon>
      </span>

      <!-- Nama module -->
      <div (click)="openForm()" class="card-name">
        <span>{{ moduleData.moduleName }}</span>
      </div>

      <!-- State -->
      <div class="card-section">
        <span class="section-label">State</span>
        <div class="progress-bar-battery">
          @for (item of moduleData.workStateCountList; track $index) {
            <div
              class="progress-fill-battery state-{{ dataService.formatClassName(item.name) }}"
              [matTooltip]="getTooltip(item.name, item.count, item.percentage)"
              [style.width.%]="item.percentage"
            ></div>
          }
        </div>
      </div>

      <!-- Period -->
      <div class="card-section">
        <span class="section-label">Period</span>
        <div class="progress-bar" matTooltip="{{ periodPercentage() }}%">
          <span class="date-label">
            {{ moduleData.startDate | date : "shortDate" }} -
            {{ moduleData.targetDate | date : "shortDate" }}
          </span>
          <div class="progress-fill" [style.width.%]="periodPercentage()"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Expandable container untuk SubModules -->
  <div
    class="container-submodules"
    [style.maxHeight.px]="expanded() ? subModules().length * 200 : 0"
    [class.expanded]="expanded()"
  >
    @if (loadingSubModules()) {
      <div class="loading">Loading submodules...</div>
    }

  
    @for (sub of subModules(); track $index) {
      <app-card-sub-module [subModuleData]="sub"></app-card-sub-module>
    }
  </div>
</div>
