@if (!(isEmpty === true)){
@if (project){
<div class="card">
    <div class="card-header">
        <h3 class="title">{{ project.projectName}}
            <span (click)="openForm()"> <mat-icon>info</mat-icon></span>
            <span><mat-icon>login</mat-icon></span>
        </h3>
        <span>
            <span class="card-id">#{{ project.projectId }}</span>
        </span>
    </div>



    <!-- <div class="description-body">{{project.description}}</div> -->

    <div class="upload-box">
        <div class="row-space-inbetween">
            <div class="mid-label">Progress:</div>
            <div class="minor-label">
                {{projectPercentage()}}%
            </div>
        </div>
        <div class="progress-bar" [matTooltip]="progressTooltip()">
            <div class=" progress-fill" [style.width.%]="projectPercentage()"></div>
        </div>
    </div>
    <div class="row-space-inbetween">
        <div class="minor-label">PIC: {{project.picName}}</div>
        <div class="progress-bar date">
            <span class="minor-label date-label">{{
                project.startDate| date : "shortDate"
                }} - {{
                project.targetDate| date : "shortDate"
                }}</span>
            <div class=" progress-fill date" [style.width.%]="periodPercentage()"> </div>
        </div>

    </div>
</div>}
} @else {
<div class="card empty">
    <div><mat-icon>add</mat-icon></div>
</div>
}