.card {
	width: 19em;
	box-sizing: border-box;
	height: 9.4em;
}

.title {
	margin-left: -0.1em;
	margin-bottom: 0.1em;
	font-size: 1.5em;
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: 0.5em;
	cursor: default;
}

.title mat-icon {
	color: #444;
	position: relative;
	top: 0.2em;
	font-size: 0.95em;
	cursor: pointer;
	transition: transform 0.2s ease, color 0.2s ease;
}

/* The hover effect for the icons */
.title mat-icon:hover {
	transform: scale(1.2);
	color: var(--primary-blue);
}

.minor-label {
	color: #333;
	font-size: 0.8em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
	display: block;
}

.mid-label {
	color: #222;
	font-weight: 500;
}

.upload-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 0.6em;
	width: fit-content;
	width: 100%;
}

.description-body {
	text-align: justify;
	margin-top: 0.4em;
	color: #222;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	height: 5.5em;
}

.row-space-inbetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* margin-top: 0.1em; */
}

.progress-bar {
	position: relative;
	width: 100%;
	height: 1em;
	background-color: #e5e7eb;
	border-radius: 9999px;
	margin: 0.5em 0;
	align-items: center;
	overflow: hidden;
}

.progress-fill {
	position: absolute;
	height: 100%;
	background-color: #3b82f6;
	/* border-radius: 9999px;
	transition: width 0.3s ease-in-out; */
	z-index: 1;
}

.progress-fill.date {
	background-color: #80f63b;
}

.progress-bar.date {
	height: 1.25em;
	width: 7.5em;
	margin: 0;
}

.date-label {
	position: absolute;
	width: 100%;
	z-index: 2;
	text-align: center;
	color: #111;
	/* font-weight: 500; */
	font-size: 0.75em;
	top: 50%;
	transform: translateY(-50%);
}

.empty div {
	width: fit-content;
	height: fit-content;
}

.card.empty {
	display: flex;
	background-color: 0% !important;
	opacity: 50%;
	height: 100%;
	border: none;
	box-shadow: none;
	align-items: center;
	justify-content: center;
	justify-items: center;
	transition: 0.3s opacity ease-in-out;
}
.card.empty:hover {
	opacity: 100;
	background-color: blue 0%;
}
