<div class="child-wrapper" #workChildContainer [style.maxHeight.px]="workChildContainerHeight()"
    (mouseleave)="workHovered.set(false)" (mouseenter)="workHovered.set(true)">
    <div class="child-container">
        <div class="indicator-child {{indicatorClass}}"></div>
        <div class="work-list-container">
            <div class="work-header">
                <span class="section-label name" (click)="sortBySectionLabel('workName')">FUNCTION</span>
                @for (item of sectionLabel(); track $index) {
                <span class="section-label" (click)="sortBySectionLabel(item.column || '')">{{item.label}}</span>
                }

            </div>


            @for (work of workList(); track $index) {
            <app-card-work [workData]="work" (cardDeleted)="removeWorkFromArray(work.workId)"
                (triggerbatteryRefresh)="triggerbatteryRefresh.emit()"></app-card-work>
            }
            @if(isBacklogPage()){
            <app-card-work-new (newWork)="newWorkState.emit($event)" [backlogId]="backlogId"
                [class.empty]="!workList().length"></app-card-work-new>
            }
        </div>
    </div>
</div>