.child-wrapper {
	width: 100%;
	max-height: 0;
	overflow-x: auto;
	/* border-radius: 5px; */
	overflow-y: hidden;
	transition: max-height 0.6s ease-in-out;
}

.child-container {
	display: flex;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	transition: max-width 1s ease;
}

.indicator-child {
	width: 9px;
	min-width: 9px;
	max-width: 9px;
	filter: saturate(1.4);
	position: sticky;
	left: 0;
	z-index: 2;
	border-bottom-left-radius: 5px;
}

.work-list-container {
	display: flex;
	flex-direction: column;
	width: calc(100% - 9px);
	min-width: calc(55em - 9px);
	margin-top: 0.2em;
	overflow-y: hidden;
}

.work-header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 2em;
}

.work-header .section-label {
	font-size: 0.8em;
	font-weight: 500;
	color: #555;
	text-transform: uppercase;
	flex: 1;
	text-align: center;
	box-sizing: border-box;
	padding: 0.1em 0.5em 0.5em 0.5em;
	cursor: pointer;
	/* border: 1px solid #555; */
}

.work-header .section-label.name {
	flex: 2;
	padding: 0.1em 0.15em 0.5em 0.15em;
}

app-card-work-new {
	max-height: 0;
	transition: max-height 0.6s ease-in-out;
}
app-card-work-new.empty,
.child-container:hover app-card-work-new {
	max-height: 70px;
}
