.card.todo {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	box-shadow: none;
	border-radius: 6px;

	padding: 0;
	border: 1px solid rgba(51, 51, 51, 0.25);
}

.todo-container {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 3.2em;
}

.todo-inner-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 3.2em;
}

.arrow-icon-container {
	display: flex;
}

.indicator {
	width: 9px;
	min-width: 9px;
	height: 100%;
	filter: saturate(1.4);
	position: sticky;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 2;
}
.indicator.expanded {
	border-bottom-left-radius: 0px;
	transition: border-bottom-left-radius 0.1s step-start 0s;
}

.indicator:not(.expanded) {
	transition: border-bottom-left-radius 0.1s step-end 0.44s;
}

.arrow-icon {
	font-size: 2em;
	height: auto;
	width: auto;
}

.card-name {
	display: flex;
	align-items: center;
	width: 25%;
	font-size: 0.9em;
	font-weight: 600;
	padding: 0 0.5em 0 0.2em;
	transform: translateY(-0.05em);
	transition: color 0.2s ease-in-out;
}

/* .card-name:hover {
	color: var(--primary-blue);
} */

.card-name span {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
}

.card-section {
	display: flex;
	flex: 1;
	height: 10	0%;
	flex-direction: column;
	gap: 0.05em;
	justify-items: center;
	align-items: center;
	padding: 0.1em 0.5em 0.5em 0.5em;
	box-sizing: border-box;
}

.section-label {
	font-size: 0.85em;
	font-weight: 500;
	color: #555;
	text-transform: uppercase;
}

.progress-bar-battery {
	display: flex;
	width: 100%;
	height: 100%;
}

.progress-fill-battery {
	height: 100%;
	transition: all 0.2s ease;
}

.progress-fill-battery:hover {
	transform: scaleY(1.2);
	border-radius: 4px;
}

.work-container {
	width: 100%;
}
