@if (backlogData){
<div class="dialog-body">
    <div>
        <div class="form-control">
            <div class="form-control-input">{{backlogData.backlogName}}
            </div>
            <label class="form-control-label label-up">Backlog Name</label>
        </div>


    </div>

    <!-- Description -->
    <div>
        <div class="form-control">
            <div class="form-control-input">{{backlogData.description}}
            </div>
            <label class="form-control-label label-up">Description</label>
        </div>


    </div>

    <!-- Date Range (uses a nested formGroupName) -->
    <div>
        <div class="form-control">
            <div class="form-control-input">{{
                backlogData.startDate| date : "M/d/yyyy"
                }} – {{
                backlogData.targetDate| date : "M/d/yyyy"
                }}
            </div>
            <label class="form-control-label label-up">Target Date</label>
        </div>
        <!-- Check the nested controls for errors -->

    </div>

    <div class="row">
        <div>
            <div class="form-control">
                <div class="form-control-input">{{backlogData.picName || "\u00a0"}}
                </div>
                <label class="form-control-label label-up">PIC</label>
            </div>
        </div>
        <div>
            <div class="form-control">
                <div class="form-control-input">{{backlogData.priorityName}}
                </div>
                <label class="form-control-label label-up">Priority</label>
            </div>
        </div>
    </div>
</div>
}