<div class="dialog-container">
    <!-- Dialog Title Section -->
    <app-dialog-util-title [new]="dialogData?.newBacklog" [editable]="editable()" (edit)="toggleEdit()"
        (delete)="triggerDeleteBacklog()" title="Backlog #{{dialogData?.backlogData?.backlogId}}"
        titleNew="NEW BACKLOG"></app-dialog-util-title>


    <!-- Dialog Content Section -->
    @if (dialogData.newBacklog) {
    <!-- Input form for new backlog -->
    <app-dialog-backlog-input></app-dialog-backlog-input>
    } @else if (editable()) {
    <!-- Editable form for existing backlog -->
    <app-dialog-backlog-input [backlogData]="dialogData.backlogData"></app-dialog-backlog-input>
    } @else if (!editable()) {
    <!-- Read-only details for existing backlog -->
    <app-dialog-backlog-detail [backlogData]="dialogData.backlogData"></app-dialog-backlog-detail>
    }


    <app-dialog-util-button-row [new]="dialogData.newBacklog" [editable]="editable()" (cancelEdit)="toggleEdit()"
        (save)="triggerEditBacklogSubmit()" (create)="triggerNewBacklogSubmit()"></app-dialog-util-button-row>

</div>