/* General Card Styling */
.card.subModule {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	box-shadow: none;
	border-radius: 6px;
	padding: 0;
	border: 1px solid rgba(51, 51, 51, 0.25);
	position: relative;
}

.subModule-container {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 3.2em;
}

.subModule-inner-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 3.2em;
}
.arrow-icon-container {
	display: flex;
}

.indicator {
	width: 9px;
	min-width: 9px;
	height: 100%;
	filter: saturate(1.4);
	position: sticky;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 2;
}
.indicator.expanded {
	border-bottom-left-radius: 0px;
	transition: border-bottom-left-radius 0.6s step-start 0s;
}

.indicator:not(.expanded) {
	transition: border-bottom-left-radius 0.1s step-end 0.44s;
}

.arrow-icon {
	font-size: 2em;
	height: auto;
	width: auto;
}
.card-name {
	display: flex;
	align-items: center;
	width: 25%;
	font-size: 0.9em;
	font-weight: 600;
	padding: 0 0.5em 0 0.2em;
	transform: translateY(-0.05em);
	transition: color 0.2s ease-in-out;
}

.card-name:hover {
	color: var(--primary-blue);
}

.card-name span {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
}

.card-section {
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column;
	gap: 0.05em;
	justify-items: center;
	align-items: center;
	padding: 0.1em 0.5em 0.5em 0.5em;
	box-sizing: border-box;
	cursor: pointer;
}

.section-label {
	font-size: 0.7em;
	font-weight: 500;
	color: #555;
	text-transform: uppercase;
}

.card-status {
	height: 100%;
	width: 100%;
}
.card-status span {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	padding: 0.1em 0.7em;
	border: 1px solid rgba(51, 51, 51, 0.25);
	border-radius: 4px;
	font-size: 0.95em;
	font-weight: 500;
	font-family: Roboto, sans-serif;
	box-sizing: border-box;
}

.date-label {
	position: relative;
	z-index: 2;
	font-size: 0.5em;
	font-weight: 500;
	color: #1f2937;
}

.progress-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: aliceblue;
	border-radius: 4px;
	border: 1px solid rgba(51, 51, 51, 0.2);
	overflow: hidden;
}

.progress-fill {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background-color: #3b82f6;
	z-index: 1;
}

.progress-bar-battery {
	display: flex;
	width: 100%;
	height: 100%;
}

.progress-fill-battery {
	height: 100%;
	transition: all 0.2s ease;
}

.progress-fill-battery:hover {
	transform: scaleY(1.2);
	border-radius: 4px;
}

.work-header {
	display: flex;
	align-items: center; /* This will now correctly center the spans vertically */
	width: 100%;
	height: 2em;
	margin-left: 0px;
}

.work-header span {
	flex: 1;
	text-align: center;
	box-sizing: border-box;
	padding: 0 0.4em 0 0em;
	/* border: solid 1px #333; */
}

.work-header span.name {
	flex: 1.27;
}

app-card-work-new {
	max-height: 0;
	transition: all 0.4s ease-in-out;
}
app-card-work-new.empty,
.child-container:hover app-card-work-new {
	max-height: 6em;
}

.child-wrapper {
	width: 100%;
	max-height: 0em;
	overflow-x: auto;
	overflow-y: hidden;
	transition: max-height 0.6s ease-in-out;
}

.child-container {
	display: flex;
	width: 100%;
	min-width: 0em;
	overflow-x: auto;
	overflow-y: hidden;
	/* position: relative; */
	transition: all 1s ease;
}

.work-list-container {
	display: flex;
	flex-direction: column;
	width: calc(100% - 9px); /* Reserve space for indicator */
	min-width: calc(55em - 9px); /* Adjust min-width too */

	margin: 0.2em 0em 0em 0em;
	/* border-radius: 8px; */
	/* border-top: 1px solid rgba(51, 51, 51, 0.2); */
	/* overflow: hidden; */

	/* overflow-y: hidden; */
}

.container-work {
	width: 100%;
}
