<div class="dialog-container">
    <div class="title">
        <h1 (click)="toggleEdit()">@if (dialogData.newWork) {
            NEW WORK
            } @else { #{{dialogData.work.workId}} <span><mat-icon>edit</mat-icon></span> }

        </h1>
    </div>
    @if (dialogData.newWork) {
    <app-dialog-work-input (selectActivity)="selectActivity($event)" [currentPic]="currentPic"
        [backlogId]="dialogData.backlogId"></app-dialog-work-input>
    } @else if (editable()) {

    <app-dialog-work-input [currentPic]="currentPic" (selectActivity)="selectActivity($event)"
        [work]="dialogData.work"></app-dialog-work-input>
    } @else if (!editable()) {

    <app-dialog-work-detail [work]="dialogData.work"></app-dialog-work-detail>
    }
    @if (dialogData.newWork) {
    <div class="selector-con">
        <app-selector-user-work (userAssignmentEmpty)="selectorEmpty($event)" [editable]="true"
            [newWork]="dialogData?.newWork" (newPic)="currentPic.set($event)"></app-selector-user-work>
    </div>
    } @else {
    <div class="selector-con">
        <app-selector-user-work (userAssignmentEmpty)="selectorEmpty($event)" [workId]="dialogData?.work?.workId"
            [workPicName]="dialogData?.work?.picName" [editable]="editable()"
            [workActivity]="dialogData?.work?.activityId" (newPic)="currentPic.set($event)"></app-selector-user-work>
    </div>
    }

    <div class="row-right-aligned">
        @if (dialogData.newWork) {
        <button mat-flat-button [mat-dialog-close]="true">Cancel</button>
        <button mat-flat-button (click)="triggerNewWorkSubmit()">Create</button>
        } @else if (!dialogData.newWork && !editable()) {
        <button mat-flat-button [mat-dialog-close]="true">Ok</button>
        } @else {
        <button mat-flat-button (click)="triggerEditWorkSubmit()">Save</button>
        }
    </div>
</div>