/* Stacks the header and body vertically and fills the screen */

.home-content {
	display: flex;
	height: 93.7%;
	width: 100%;
}

.router-outlet-body {
	flex: 1;
	overflow-y: auto;
}

/* .home-body {
	background-color: black;
} */
