<!-- Main body -->

<body>
    <!-- Custom header component for the application -->
    <app-side-bar></app-side-bar>

    <!-- Container for sidebar and main content -->
    <div class="home-content">
        <!-- Custom sidebar component for navigation -->
        <app-header></app-header>
        <!-- Wrapper for routed content -->
        <div class="router-outlet-body">
            <!-- Angular named router outlet for displaying routed components -->
            <router-outlet name="home"></router-outlet>
        </div>
    </div>
</body>