/* Stacks the header and body vertically and fills the screen */

.home-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	min-height: 1em;
}

.router-outlet-body {
	flex: 1;
	overflow-y: auto;
}

body {
	display: flex;
	/* flex-direction: column; */
}
