.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #111827;
	height: 45px;
	position: relative;
}

.app-title {
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	color: #eaeaea;
}

.search-container {
	position: absolute;
	right: 10%;
	width: 15em;
}
