.dialog-container {
	display: flex;
	flex-direction: column;
	height: fit-content;
	max-width: 100%;
	padding: 0.9em 1.2em 2em 1.2em;
	gap: 1em;
	background-color: white;
}
.selector-con {
	height: 26em;
}
