<div class="dialog-container">
    <div class="title">
        <h1 (click)="toggleEdit()">@if (dialogData.newProject) {
            NEW PROJECT
            } @else { PROJECT #{{dialogData.project.projectId}} <span><mat-icon>edit</mat-icon></span> }

        </h1>
    </div>
    @if (dialogData.newProject) {
    <div>newProj</div>
    <app-dialog-project-edit [currentPic]="currentPic"></app-dialog-project-edit>
    } @else if (editable()) {
    <div>editable</div>
    <app-dialog-project-edit [currentPic]="currentPic" [project]="dialogData.project"></app-dialog-project-edit>
    } @else if (!editable()) {
    <div>not editable</div>
    <app-dialog-project-detail [project]="dialogData.project"></app-dialog-project-detail>
    }


    <div class="selector-con">
        @if (dialogData.newProject) {
        <app-user-selector [editable]="true" [newProject]="dialogData?.newProject"
            (newPic)="currentPic.set($event)"></app-user-selector>
        } @else {
        <app-user-selector [projectId]="dialogData?.project?.projectId" [projectPicName]="dialogData?.project?.picName"
            [editable]="editable()" [newProject]="dialogData?.newProject"
            (newPic)="currentPic.set($event)"></app-user-selector>
        }
    </div>
    <div class="row-right-aligned">
        @if (dialogData.newProject) {
        <button mat-flat-button (click)="triggerNewProjectSubmit()">Create</button>
        } @else if (!dialogData.newProject && !editable()) {
        <button mat-flat-button>Ok</button>
        } @else {
        <button mat-flat-button (click)="triggerEditProjectSubmit()">Save</button>

        }
    </div>
</div>