<div class="dialog-container">
    <div class="title">
        <h1 (click)="toggleEdit()">@if (dialogData.newProject) {
            NEW PROJECT
            } @else { PROJECT #{{dialogData.projectData.projectId}} <span><mat-icon>edit</mat-icon></span> }

        </h1>
    </div>
    @if (dialogData.newProject) {
    <div>newProj</div>
    <app-dialog-project-input [currentPic]="currentPic"></app-dialog-project-input>
    } @else if (editable()) {
    <div>editable</div>
    <app-dialog-project-input [currentPic]="currentPic" [projectData]="dialogData.projectData"></app-dialog-project-input>
    } @else if (!editable()) {
    <div>not editable</div>
    <app-dialog-project-detail [projectData]="dialogData.projectData"></app-dialog-project-detail>
    }


    <div class="selector-con">
        @if (dialogData.newProject) {
        <app-selector-user-project-role [editable]="true" [newProject]="dialogData?.newProject"
            (newPic)="currentPic.set($event)"></app-selector-user-project-role>
        } @else {
        <app-selector-user-project-role [projectId]="dialogData?.projectData?.projectId"
            [projectPicName]="dialogData?.projectData?.picName" [editable]="editable()"
            [newProject]="dialogData?.newProject" (newPic)="currentPic.set($event)"></app-selector-user-project-role>
        }
    </div>
    <div class="row-right-aligned">
        @if (dialogData.newProject) {
        <button mat-flat-button [mat-dialog-close]="true">Cancel</button>
        <button mat-flat-button (click)="triggerNewProjectSubmit()">Create</button>
        } @else if (!dialogData.newProject && !editable()) {
        <button mat-flat-button [mat-dialog-close]="true">Ok</button>
        } @else {
        <button mat-flat-button (click)="toggleEdit()">Cancel</button>
        <button mat-flat-button (click)="triggerEditProjectSubmit()">Save</button>
        }
    </div>
</div>