<div class="dialog-container">

    <app-dialog-util-title [new]="dialogData?.newProject" [editable]="editable()"
        title="PROJECT #{{dialogData?.projectData?.projectId}}" titleNew="NEW PROJECT" (edit)="toggleEdit()"
        (delete)="triggerDeleteProject()"></app-dialog-util-title>



    @if (dialogData.newProject) {

    <app-dialog-project-input [currentPic]="currentPic"></app-dialog-project-input>
    } @else if (editable()) {

    <app-dialog-project-input [currentPic]="currentPic"
        [projectData]="dialogData.projectData"></app-dialog-project-input>
    } @else if (!editable()) {

    <app-dialog-project-detail [projectData]="dialogData.projectData"></app-dialog-project-detail>
    }


    <div class="selector-con">
        @if (dialogData.newProject) {
        <app-selector-user-project-role [editable]="true" [newProject]="dialogData?.newProject"
            (newPic)="currentPic.set($event)"></app-selector-user-project-role>
        } @else {
        <app-selector-user-project-role [projectId]="dialogData?.projectData?.projectId"
            [projectPicName]="dialogData?.projectData?.picName" [editable]="editable()"
            [newProject]="dialogData?.newProject" (newPic)="currentPic.set($event)"></app-selector-user-project-role>
        }
    </div>

    <app-dialog-util-button-row [new]="dialogData.newProject" [editable]="editable()" (cancelEdit)="toggleEdit()"
        (save)="triggerEditProjectSubmit()" (create)="triggerNewProjectSubmit()"></app-dialog-util-button-row>


</div>