<div class="card backlog">
    <div>></div>
    <div class="card-name">
        <span class="backlog-name">{{backlogData.backlogName}}</span>
    </div>
    <div class="card-section">
        <span class="section-label">State</span>

        <div class="progress-bar">
            @for (item of backlogData.workStateCountList; track $index) {
            <div class=" progress-fill state-{{item.stateId}}"
                [matTooltip]="getTooltip(item.stateName,item.stateCount,item.percentage)"
                [style.width.%]="item.percentage">
            </div>
            }

        </div>
    </div>

    <div class="card-section">
        <span class="section-label">Priority</span>
        <div class="priority-badge priority-{{backlogData.priorityName}}">
            <span>{{backlogData.priorityName}}</span>
        </div>
    </div>
    <div class="card-section">
        <span class="section-label">Period</span>
        <div class="progress-bar">
            <span class="date-label">{{ backlogData.startDate | date : "d MMM" }} - {{ backlogData.targetDate | date
                : "d MMM" }}</span>
            <div class="progress-fill" [style.width.%]="periodPercentage()"></div>
        </div>
    </div>
</div>

<div class="new-card">
    <!-- <div class="progress-bar">ok</div> -->
    <app-state-battery [workStateCountList]="backlogData.workStateCountList"></app-state-battery>
</div>