<div class="card backlog">
    <div class="backlog-container">
        <div class="indicator priority-{{backlogData.priorityName}}"></div>
        <div class="backlog-inner-container">
            <span class="arrow-icon-container" (click)="expandWorkInside()"> <mat-icon class="arrow-icon">@if
                    (!expanded()){keyboard_arrow_right} @else {keyboard_arrow_down}</mat-icon>
            </span>


            <div class="card-name">
                <span>{{backlogData.backlogName}}</span>
            </div>


            <div class="card-section">
                <span class="section-label">State</span>
                <div class="progress-bar-battery">
                    @for (item of backlogData.workStateCountList; track $index) {
                    <div class=" progress-fill-battery state-{{item.stateId}}"
                        [matTooltip]="getTooltip(item.stateName,item.stateCount,item.percentage)"
                        [style.width.%]="item.percentage">
                    </div>
                    }


                </div>
            </div>

            <div class="card-section">
                <span class="section-label">Priority</span>
                <div class="card-status priority-{{backlogData.priorityName}}">
                    <span>{{backlogData.priorityName}}</span>
                </div>
            </div>


            <div class="card-section">
                <span class="section-label">Period</span>
                <div class="progress-bar" matTooltip="{{ periodPercentage()}}%">
                    <span class="date-label">{{ backlogData.startDate | date : "shortDate" }} - {{
                        backlogData.targetDate |
                        date
                        : "shortDate" }}</span>
                    <div class="progress-fill" [style.width.%]="periodPercentage()"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div>height:{{workChildContainerHeight()}} </div> -->
    <div class="child-wrapper" [style.maxHeight.px]="workChildContainerHeight()">
        <div class="child-container" #workChildContainer (mouseleave)="AlterContentHeightBy(-50)"
            (mouseenter)="AlterContentHeightBy(50)">
            <div class="indicator-child priority-{{backlogData.priorityName}}"></div>
            <div class="work-list-container">
                <div class="work-header">
                    <span class="section-label name">FUNCTION</span>
                    <span class="section-label">TRACKER</span>
                    <span class="section-label">ACTIVITY</span>
                    <span class="section-label">STATE</span>
                    <span class="section-label">PRIORITY</span>
                    <span class="section-label">PERIOD</span>
                </div>


                @for (work of workList(); track $index) {
                <app-card-work [workData]="work"></app-card-work>
                }
                <app-card-work-new [class.empty]="!workList().length" [backlogData]="backlogData"
                    (newWork)="doWhenNewWork($event)"></app-card-work-new>

            </div>
        </div>
    </div>
</div>