<div class="page-container">
    <!-- Page title/header -->
    <div class="page-title">
        <h1>Gantt Chart</h1>
        <app-gantt-filter></app-gantt-filter>
    </div>

    @if(ganttPageService.filteredGanttData()){
    <div class="gantt-container" #ganttScroll (pointerdown)="onDragStart($event)" (pointermove)="onDragMove($event)"
        (pointerup)="onDragEnd()" (pointerleave)="onDragEnd()">
        <div class="work-data-section no-scroll">
            <div class="section-title">Features</div>
            <div class="module-item">
                @for (module of ganttPageService.filteredGanttData(); track $index) {
                <div class="module-name" (click)="ganttPageService.openModuleForm(module.moduleId)">
                    {{module.moduleName}}</div>
                @for (w of module.works; track w.workId) {
                <div class="work-item" (click)="ganttPageService.openWorkForm(w.workId, w.trackerName)">
                    <div class="work-name">{{w.workName}}</div>
                    <div class="assigned-users" [class.no-users]="!w.assignedUsers || w.assignedUsers.length === 0">
                        {{getUserListAsString(w.assignedUsers) || "No Users Assigned"}}
                    </div>
                </div>
                }
                }
            </div>
        </div>
        <div class="gantt-section" [class.dragging]="isDragging">
            <div class="date-row">
                @for (item of timeline(); track $index) {
                <div class="month-cell">
                    <div class="month-name">{{item.monthName}} {{item.year}}</div>
                    <div class="day-row">
                        @for (day of item.days; track $index) {
                        <div class="day-cell" [class.alternate]="day.globalIndex % 2 === 0" #dayCell [attr.tabindex]="0"
                            [class.today]="day.globalIndex === todaysIndex()">
                            {{day.monthDay}}
                        </div>
                        }
                    </div>
                </div>
                }
            </div>
            <div class="gantt-body">
                <div class="module-item">
                    @for (module of ganttPageService.filteredGanttData(); track $index) {
                    <div class="module-name border-transparent" [style.background-color]="'transparent'"></div>
                    @for (w of module.works; track w.workId) {
                    <div class="work-item">
                        <div class="gantt-bar" (pointerdown)="dragPointerDown($event, w)"
                            (pointermove)="dragPointerMove($event, w)" (pointerup)="dragPointerUp($event, w)"
                            (pointercancel)="dragPointerUp($event, w)"
                            [matTooltip]="(w.startDate | date:'shortDate') + ' - ' + (w.targetDate | date:'shortDate') + ' (' + (daysBetween(w.startDate, w.targetDate)+1) + ' days)'"
                            [style.width]="((daysBetween(w.startDate, w.targetDate)+1)/totalDays() * 100) + '%'"
                            [style.margin-left]="calculateGanttBarStart(w.startDate)"
                            [class.warning-work-overdue]="isWorkOverdue(w)">
                            <div class="resize-handle left" (pointerdown)="resizePointerDown($event, w, 'left')">
                            </div>
                            <span>{{w.workName}}</span>
                            <div class="resize-handle right" (pointerdown)="resizePointerDown($event, w, 'right')">
                            </div>
                        </div>
                    </div>
                    }
                    }

                </div>
                @if (todaysIndex() || 0 < totalDays()) { <div class="today-line"
                    [style.margin-left]="calculateTodayLineLocation()">
            </div>
            }
        </div>
    </div>
</div>
}
</div>