@if (moduleData){
<div class="dialog-body">
    <div>
        <div class="form-control">
            <div class="form-control-input">{{moduleData.moduleName}}
            </div>
            <label class="form-control-label label-up">Module Name</label>
        </div>


    </div>

    <div>
        <div class="form-control">
            <div class="form-control-input">{{moduleData.projectName}}
            </div>
            <label class="form-control-label label-up">Project</label>
        </div>
    </div>

    <!-- Description -->
    <div>
        <div class="form-control text-area">
            <div class="form-control-input">{{moduleData.description}}
            </div>
            <label class="form-control-label label-up">Description</label>
        </div>
    </div>

    <div>
        <div class="form-control">
            <div class="form-control-input">{{moduleData.createdBy}}
            </div>
            <label class="form-control-label label-up">Created By</label>
        </div>
    </div>


</div>
}