.dialog-container {
	display: flex;
	height: fit-content;
	flex-direction: column;
	padding: 0.9em 1.2em;
	max-width: 100%;
	gap: 1em;
	max-height: 90vh;
	background-color: white;
}

.row-right-aligned {
	width: 100%;
	display: flex;

	justify-content: flex-end;
}

.selector-con {
	height: 26em;
}
