.dialog-container {
	display: flex;
	height: fit-content;
	flex-direction: column;
	padding: 0.9em 1.2em;
	max-width: 100%;
	gap: 1em;
	max-height: 90vh;
}
.form-control {
	display: flex;
	position: relative; /* This is crucial for positioning the label */
	border: 2px solid #d1d5db; /* Border is now on the container */
	border-radius: 8px;
	transition: border-color 0.2s ease-in-out;
	/* width: 10em; */
}

.form-control:focus-within {
	border-color: #3b82f6;
}

.form-control-input {
	display: flex;
	flex: 1;
	padding: 0.7em 0.75em 0.7em 0.75em;
	border: none;
	border-radius: 8px;
	font-size: 1em;
	color: #111827;
	box-sizing: border-box;
}

.form-control-input-date {
	display: flex;
	flex: 1;
	padding: 0.7em 0.75em 0.7em 0.75em;
	border: none;
	border-radius: 8px;
	font-size: 1em;
	color: #111827;
	box-sizing: border-box;
}
.form-control-input:focus {
	outline: none;
}

/* The placeholder needs to be transparent so it doesn't show, but exists for the CSS to work */
.form-control-input::placeholder {
	color: transparent;
}

/* 3. The label that will float */
.form-control-label {
	height: fit-content;
	position: absolute;
	top: 0.6em;
	left: 0.75em;
	font-size: 1em;
	color: #6b7280;
	pointer-events: none; /* Allows clicks to pass through to the input */
	transition: all 0.2s ease-in-out;
	background-color: white; /* This creates the "cutout" effect */
	padding: 0 0.25em; /* Adds space around the label text */
}

.form-control-input:focus ~ .form-control-label,
.form-control-input:not(:placeholder-shown) ~ .form-control-label,
.form-control.has-value .form-control-label {
	transform: translateY(-1.3em);
	font-size: 0.7em;
	transform-origin: left top;
	color: #3b82f6;
}

mat-error {
	color: rgb(219, 36, 36);
	font-size: 0.8em;
	padding-left: 0.5em;
}

.row-right-aligned {
	width: 100%;
	display: flex;

	justify-content: flex-end;
}
