<div class="page-container">
    <div class="page-title">
        <h1>Backlog</h1>
    </div>
    <div class="backlog-header">
        <span>Module</span>
        <span>State</span>
        <span>Priority</span>
        <span>Progress</span>
    </div>
    <div class="backlog-container">
        <div class="module-item">
            <div>></div>
            <div class="module-name">
                <span>Infrastructure</span>
            </div>
            <div class="module-state">
                <span>IN PROGRESS</span>
            </div>
            <div class="module-priority">
                <span>HIGH</span>
            </div>
            <div class="module-progress">
                <span>10%</span>
            </div>
        </div>

        <div class="module-item">
            <div>></div>
            <div class="module-data">
                <span>Infrastructure</span>
            </div>
            <div class="module-data">
                <div class="card-status">
                    <span class="state-label">IN PROGRESS</span>
                </div>
            </div>
            <div class="module-data">
                <div class="card-status">
                    <span class="state-label">HIGH</span>
                </div>
            </div>
            <div class="module-progress">
                <span>10%</span>
            </div>
        </div>

    </div>
</div>