@if (subModuleData){
<div class="dialog-body">
    <div>
        <div class="form-control">
            <div class="form-control-input">{{subModuleData.subModuleName}}
            </div>
            <label class="form-control-label label-up">Sub-Module Name</label>
        </div>


    </div>

    <div>
        <div class="form-control">
            <div class="form-control-input">{{subModuleData.projectName}}
            </div>
            <label class="form-control-label label-up">Project</label>
        </div>
    </div>

    <!-- Description -->
    <div>
        <div class="form-control">
            <div class="form-control-input text-area">{{subModuleData.description}}
            </div>
            <label class="form-control-label label-up">Description</label>
        </div>


    </div>

    <!-- Date Range (uses a nested formGroupName) -->
    <div>
        <div class="form-control">
            <div class="form-control-input">{{
                subModuleData.startDate| date : "M/d/yyyy"
                }} – {{
                subModuleData.targetDate| date : "M/d/yyyy"
                }}
            </div>
            <label class="form-control-label label-up">Target Date</label>
        </div>
        <!-- Check the nested controls for errors -->

    </div>

    <div class="row">
        <div>
            <div class="form-control">
                <div class="form-control-input">{{subModuleData.picName || "\u00a0"}}
                </div>
                <label class="form-control-label label-up">PIC</label>
            </div>
        </div>
        <div>
            <div class="form-control">
                <div class="form-control-input">{{subModuleData.priorityName}}
                </div>
                <label class="form-control-label label-up">Priority</label>
            </div>
        </div>
    </div>
</div>
}