<div class="side-bar" [class.expanded]="isExpanded()" (mouseenter)="expandSidebar()" (mouseleave)="collapseSidebar()">

  <ul class="menu-ul">
    <li (click)="toggleSidebar()" class="menu-toggle">
      <mat-icon>menu</mat-icon>
    </li>
  </ul>

  <div class="main-side-bar">
    <ul>
      <li [routerLink]="[{ outlets: { home: ['dashboard'] } }]" routerLinkActive="active" tabindex="0">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </li>

      <li [routerLink]="[{ outlets: { home: ['backlog'] } }]" routerLinkActive="active" tabindex="0">
        <mat-icon>list_alt</mat-icon>
        <span>Backlog</span>
      </li>

      <li [routerLink]="[{ outlets: { home: ['gantt'] } }]" routerLinkActive="active" tabindex="0">
        <mat-icon>view_timeline</mat-icon>
        <span>Gantt</span>
      </li>

      <li [routerLink]="[{ outlets: { home: ['bug'] } }]" routerLinkActive="active" tabindex="0">
        <mat-icon>bug_report</mat-icon>
        <span>Bug</span>
      </li>

      <div class="divider-line"></div>

      <li [routerLink]="[{ outlets: { home: ['project'] } }]" routerLinkActive="active" tabindex="0">
        <mat-icon>assignment</mat-icon>
        <span>Project</span>
      </li>


    </ul>

    <ul>
      <li class="profile" (click)="toggleProfile()" routerLinkActive="active">
        <mat-icon>account_circle</mat-icon>
        <span>{{ username() }}</span>
        <app-profile-info *ngIf="isProfileVisible() && isExpanded()" class="profile-dropdown" [expanded]="isExpanded()"
          [name]="dataService.usernameSignal()" [email]="dataService.userEmailSignal()"
          [role]="dataService.isWebMaster() ? 'Web Master' : 'User'" [bio]="'This is my profile.'" (logout)="loginService.logOut()" >
        </app-profile-info>
      </li>
    </ul>
  </div>
</div>