.side-bar {
	width: fit-content;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #111827;
	padding: 0.5em 0.4em 0.5em 0.4em;
	justify-content: space-between;
	box-sizing: border-box;
}

.side-bar ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 1em;
	gap: 0.4em;
}

.side-bar li {
	display: flex;
	cursor: pointer;
	color: #eaeaea;
	font-weight: 600;
	font-size: 1.2em;
	align-items: center;
	padding: 0.3em 0.3em 0.3em 0.3em;
	border-radius: 4px;
	transition: background-color 0.2s, color 0.2s;
	/* white-space: nowrap;  */
}

.side-bar li input,
.side-bar li span:last-child {
	opacity: 0;
	width: 0;
	overflow: hidden;
	/* box-sizing: border-box; */
	transition: opacity 0.4s ease-in-out, width 0.3s ease-in-out 0.1s, padding
		0.4s ease-in-out;
}

.side-bar:hover li input,
.side-bar:hover li span:last-child {
	opacity: 1;
	width: 5em;
	padding-left: 0.3em;
}

input {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	color: #eaeaea; /* Light text color to match other items */
	font-weight: 600;
	font-size: 1em;
	font-family: inherit;
	display: flex;
	padding: 0;
}

/* Style the placeholder text to be visible and subtle */
input::placeholder {
	font-family: inherit;
	color: #eaeaea;
	font-weight: 600;
	font-size: 0.9em;
	opacity: 0.8;
}

app-search-bar {
	display: none !important;
}

.side-bar mat-icon {
	font-size: 1.55em;
	width: fit-content;
	height: fit-content;
}
.side-bar li:hover,
.side-bar li.active {
	background-color: #374151; /* Slightly lighter background on hover */
}

.side-bar .search-item:hover {
	background-color: transparent;
}

.divider-line {
	border-top: 1px solid #eaeaea;
	opacity: 0.7;
	width: 100%;
	align-self: center;
	margin: 0.5em 0;
	/* padding: 0 1em; */
}

/* 3. Style the actual input field to be seamless and transparent */
