<div class="form-control">
    <div class="search-input-container">
        <mat-icon>search</mat-icon>
        <input #searchInput matInput type="text" placeholder="Search" class="form-control-input" [value]="textInput()"
            (input)="textInput.set($any($event.target)?.value)" [matAutocomplete]="auto">
    </div>


    <div class="search-bar-autocomplete-panel">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="dataService.displayName"
            panelClass="search-bar-autocomplete-panel"
            (optionSelected)="onOptionSelectedGoToProject($event.option.value)">
            @if(filteredProjectNames().length > 0){
            <div class="select-section-label">PROJECT</div>
            }

            @for (name of filteredProjectNames(); track name.name) {
            <mat-option [value]="name" class="search-option">
                <span class="search-option-id ">#{{ name.id }}</span>
                <span class="search-option-name">{{ name.name }}</span>
            </mat-option>
            }


            @if (filteredWorkNames().length > 0) {
            <div class="select-section-label">FUNCTION</div>
            }
            @for (name of filteredWorkNames(); track name.name) {
            <mat-option [value]="name" class="search-option">
                <span class="search-option-id">#{{ name.id }}</span>
                <span>{{ name.name }}</span>
            </mat-option>
            }
        </mat-autocomplete>
    </div>
</div>