<div class="dialog-container">

    <app-dialog-util-title [new]="dialogData?.newWork" [editable]="editable()"
        title="{{dialogBaseTitle()}} #{{dialogData?.workData?.workId || ''}}" titleNew="NEW WORK" (edit)="toggleEdit()"
        (delete)="triggerDeleteWork()"></app-dialog-util-title>

    @if (dialogData.newWork) {
    <app-dialog-work-bug-input [isBug]="isBug" (selectActivity)="selectActivity($event)" [currentPic]="currentPic"
        [subModuleId]="dialogData.subModuleId"></app-dialog-work-bug-input>
    } @else if (editable()) {

    <app-dialog-work-bug-input [isBug]="isBug" [currentPic]="currentPic" (selectActivity)="selectActivity($event)"
        [data]="dialogData.workData"></app-dialog-work-bug-input>
    } @else if (!editable()) {

    <app-dialog-work-bug-detail [isBug]="isBug" [workData]="dialogData.workData"></app-dialog-work-bug-detail>
    }
    @if (dialogData.newWork) {
    <div class="selector-con">
        <app-selector-user-work (userAssignmentEmpty)="selectorEmpty($event)" [editable]="true"
            [newWork]="dialogData?.newWork" (newPic)="currentPic.set($event)"></app-selector-user-work>
    </div>
    } @else {
    <div class="selector-con">
        <app-selector-user-work (userAssignmentEmpty)="selectorEmpty($event)" [workId]="dialogData?.workData?.workId"
            [workPicName]="dialogData?.workData?.picName" [editable]="editable()"
            [workActivity]="dialogData?.workData?.activityId"
            (newPic)="currentPic.set($event)"></app-selector-user-work>
    </div>
    }

    <app-dialog-util-button-row [new]="dialogData.newWork" [editable]="editable()" (cancelEdit)="toggleEdit()"
        (save)="triggerEditWorkSubmit()" (create)="triggerNewWorkSubmit()"></app-dialog-util-button-row>
</div>