@if (projectData){
<div class="dialog-body">
    <div>
        <div class="form-control">
            <div class="form-control-input">{{projectData.projectName}}
            </div>
            <label class="form-control-label label-up">Project Name</label>
        </div>
        <!-- Show error if invalid AND touched -->

    </div>

    <!-- Description -->
    <div>
        <div class="form-control">
            <div class="form-control-input">{{projectData.description}}
            </div>
            <label class="form-control-label label-up">Description</label>
        </div>
        <!-- Show error if invalid AND touched -->

    </div>

    <!-- Date Range (uses a nested formGroupName) -->
    <div>
        <div class="form-control">
            <div class="form-control-input">{{
                projectData.startDate| date : "M/d/yyyy"
                }} – {{
                projectData.targetDate| date : "M/d/yyyy"
                }}
            </div>
            <label class="form-control-label label-up">Target Date</label>
        </div>
        <!-- Check the nested controls for errors -->

    </div>

    <div>
        <div class="form-control">
            <!-- <textarea type="text" class="form-control-input" formControlName="description" rows="3"
                placeholder="Description"></textarea> -->
            <div class="form-control-input">
                {{projectData.picName}}</div>
            <label class="form-control-label label-up">PIC</label>
        </div>

    </div>
</div>
}