<!-- Bind the entire form to the FormGroup -->

<div class="dialog-body" [formGroup]="projectForm">
    <!-- Project Name -->
    <div>
        <div class="form-control">
            <input matInput type="text" class="form-control-input" formControlName="projectName">
            <label class="form-control-label" [class.label-up]="f.projectName.valid">Project Name</label>
        </div>
        <!-- Show error if invalid AND touched -->
        <mat-error *ngIf="f.projectName.invalid && f.projectName.touched">
            Tolong isi nama projek
        </mat-error>
    </div>

    <!-- Description -->
    <div>
        <div class="form-control">
            <textarea matInput type="text" class="form-control-input" formControlName="description"></textarea>
            <label class="form-control-label" [class.label-up]="f.description.valid">Description</label>
        </div>
        <!-- Show error if invalid AND touched -->
        <mat-error *ngIf="f.description.invalid && f.description.touched">
            Tolong isi deskripsi
        </mat-error>
    </div>

    <!-- Date Range (uses a nested formGroupName) -->
    <div>
        <div class="form-control" formGroupName="dateRange" [class.has-value]="checkDateRangeHasValue()">
            <mat-date-range-input class="form-control-input" [rangePicker]="rangePicker">
                <input matStartDate formControlName="start">
                <span class="custom-range-separator">–</span>
                <input matEndDate formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker></mat-date-range-picker>
            <label class="form-control-label"
                [class.label-up]="f.dateRange.controls.end.valid ||f.dateRange.controls.start.valid">Target Date</label>
        </div>
        <!-- Check the nested controls for errors -->
        <mat-error *ngIf="f.dateRange.controls.start.invalid && f.dateRange.controls.start.touched">
            Tolong isi mulai projek
        </mat-error>
        <mat-error *ngIf="f.dateRange.controls.end.invalid && f.dateRange.controls.end.touched">
            Tolong isi target projek
        </mat-error>
    </div>


    <div>
        <div class="form-control">
            <!-- <textarea type="text" class="form-control-input" formControlName="description" rows="3"
                placeholder="Description"></textarea> -->
            <div class="form-control-input">
                @if (currentPic()) {
                {{currentPic().name ||''}}}</div>
            <label class="form-control-label" [class.label-up]="currentPic().name !=''">PIC</label>
        </div>
        <!-- Show error if invalid AND touched -->
        <mat-error *ngIf="currentPic().id ===0 && f.description.touched">
            Tolong isi PIC
        </mat-error>
    </div>

</div>