<div class="form-control">
    <input type="text" class="form-control-input" matInput [value]="initialText" [matAutocomplete]="auto"
        (blur)="clicked.emit()">

    <label class="form-control-label"
        [class.label-up]="initialText !== '' || searchBarService.nameInput() !== ''">{{fieldLabel}}</label>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="dataService.displayName">
        @for (name of searchBarService.filteredNameList(); track name.name) {
        <mat-option [value]="name" (onSelectionChange)="onSelection(name)">
            {{ name.name }}
        </mat-option>
        }
    </mat-autocomplete>
</div>