<div class="form-control">
    <input type="text" class="form-control-input" matInput [(ngModel)]="searchBarService.nameInput"
        [matAutocomplete]="auto" placeholder="PIC">

    <label class="form-control-label">Project PIC</label>

    <mat-autocomplete #auto="matAutocomplete" panelClass="compact-autocomplete-panel">
        @for (name of searchBarService.filteredNameList(); track name.name) {
        <mat-option [value]="name.name" (onSelectionChange)="onSelection(name)">
            {{ name.name }}
        </mat-option>
        }
    </mat-autocomplete>
</div>