/*
  General styles for the CDK drag-and-drop experience.
  These provide visual feedback to the user.
*/
.cdk-drag-placeholder {
	opacity: 0.2;
	background: #ccc;
	border: dotted 3px #999;
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-list.cdk-drop-list-dragging .drop-list-item:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.selector-container {
	display: flex;
	width: 100%;
	height: 100%;
	margin: auto;
	gap: 0.5em;
	font-family: sans-serif;
}

.drop-list-container {
	flex: 1;
	display: flex;
	/* height: fit-content; */
	flex-direction: column;
	padding: 0.75em;
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	border-radius: 0.5em;
	overflow-y: auto;
	box-sizing: border-box;
	gap: 0.5em;
}

.drop-list {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	width: 100%;
	background-color: #f0f0f0;
	border-radius: 0.5em;
	box-sizing: border-box;
	align-content: flex-start;
}
/* .selector-container > .drop-list {
	flex-basis: 250px;
	flex-shrink: 0;
	overflow-y: auto;
} */

.role-name {
	width: 100%;
	height: fit-content;
	font-weight: 600;
	font-size: 1em;
	color: #333;
	padding-bottom: 0.1em;
	border-bottom: 2px solid #e0e0e0;
	/* margin-bottom: 0.25em; */
}

/* Styling for the draggable user items */
.drop-list-item {
	display: flex;
	font-size: 0.9em;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-blue); /* A more modern blue */
	border-radius: 0.3em;
	height: fit-content;
	padding: 0.3em 0.8em;
	color: white;
	font-weight: 500;
	text-wrap: nowrap;
	cursor: move; /* Indicates the item is draggable */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.drop-list-item.pic {
	background: linear-gradient(to bottom, var(--primary-blue), #0b66c7); /* Lighter blue to primary blue */

	box-shadow: 0 0 0 2px #0f77e6;
}

.form-control input {
	background-color: #f0f0f0;
}

.form-control label {
	background-color: #f0f0f0;
	top: 0.8em;
}
