:root {
	--primary-black: #111827;
	--primary-blue: #4f7cac;

	--secondary-blue: #1b998b;
	--tertiary-blue: #43aa8b;
	--primary-white: #eaeaea;
	--primary-gold: #c89933;
}

body {
	margin: 0;
	font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
}
h1,
h2,
h3 {
	margin: 0;
	color: #1a1a1a;
}

mat-icon {
	color: #444;
	width: fit-content;
	height: fit-content;
}

.page-container {
	padding: 1em 1.5em;
}

.page-title h1 {
	font-weight: 600;
	margin-bottom: 0.5em;
}

.card {
	background-color: #fff9f9;
	border: 0.0625em solid #ddd; /* 1px */
	border-radius: 0.5em; /* 8px */
	padding: 0.5em 1em 1em 1em;
	width: 20em;
	box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.1); /* 2px 5px */
	box-sizing: border-box;
}

.card:hover {
	box-shadow: 0 0.25em 0.5em rgba(44, 62, 80, 0.18), /* 4px 8px */ 0 0.1875em
		0.5em rgba(44, 62, 80, 0.1); /* 3px 8px */
	cursor: pointer;
}

.card-header {
	display: flex;
	height: fit-content;
	justify-content: space-between;
	align-items: center;
}

.card-id {
	background-color: #eee;
	padding: 2px 8px;
	border-radius: 4px;
	font-size: 0.9em;
	color: #333;
}

.card-container {
	width: 100%;
	gap: 2em;
	padding: 1em 2em 2em 2em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(21em, 1fr));
	transition: all 1s ease;
	transition: grid-template-columns 0.6s ease-in-out, padding 0.4s ease, gap 0.6
		ease;
	box-sizing: border-box;
}

.card-container.center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card-container.center.small-window {
	gap: 0.8em;
}

.mat-blue {
	background-color: #006daa !important;
}

.state-1 {
	background-color: #ffadad !important;
	color: #4a0f0f !important;
}

/* Verified */
.state-2 {
	background-color: #ffd6a5 !important;
	color: #4b4318 !important;
}

/* In progress */
.state-3 {
	background-color: #fdffb6 !important;
	color: #4a4b18 !important;
}

/* Waiting for review */
.state-4 {
	background-color: #9bf6ff !important;
	color: #2d484a !important;
}

/* Done */
.state-5 {
	background-color: #caffbf !important;
	color: #1c3e1f !important;
}

.priority-LOW {
	background-color: #caffbf;
	color: #1c3e1f;
}

.priority-MEDIUM {
	background-color: #fdffb6;
	color: #4a4b18;
}

.priority-HIGH {
	background-color: #ffd6a5;
	color: #4b4318;
}

.priority-CRITICAL {
	background-color: #ffadad;
	color: #4a0f0f;
}

/* STYLR FOR CUSTOM INPUTS */
.row {
	display: flex;
	gap: 0.5em;
}
.row > div {
	flex: 1;
	width: 100%;
}

.form-control {
	display: flex;

	position: relative; /* This is crucial for positioning the label */
	border: 2px solid #d1d5db; /* Border is now on the container */
	border-radius: 8px;
	transition: border-color 0.2s ease-in-out;
	/* width: 10em; */
}

.form-control:focus-within {
	border-color: #3b82f6;
}

.form-control-input {
	font-family: inherit;
	display: flex;
	flex: 1;
	padding: 0.7em 0.75em 0.7em 0.75em;
	border: none;
	border-radius: 8px;
	font-size: 1em;
	color: #111827;
	/* box-sizing: border-box; */
	/* height: 3em; */
	line-height: 1.3em;
	text-align: justify;
}

.form-control-input:empty::before {
	content: "\00a0";
}

.form-control-input-date {
	display: flex;
	flex: 1;
	padding: 0.7em 0.75em 0.7em 0.75em;
	border: none;
	border-radius: 8px;
	font-size: 1em;
	color: #111827;
	box-sizing: border-box;
	line-height: 1.1em;
}

.form-control-input:focus {
	outline: none;
}

/* The placeholder needs to be transparent so it doesn't show, but exists for the CSS to work */
.form-control-input::placeholder {
	color: transparent;
}

/* 3. The label that will float */
.form-control-label {
	height: fit-content;
	position: absolute;
	top: 0.6em;
	left: 0.75em;
	font-size: 1em;
	color: #6b7280;
	pointer-events: none; /* Allows clicks to pass through to the input */
	transition: all 0.2s ease-in-out;
	background-color: white; /* This creates the "cutout" effect */
	padding: 0 0.25em; /* Adds space around the label text */
}

.form-control-label.label-up,
.form-control-input:focus ~ .form-control-label,
/* .form-control-input:not(:placeholder-shown) ~ .form-control-label, */
	.form-control.has-value
	.form-control-label {
	transform: translateY(-1.3em);
	font-size: 0.7em;
	transform-origin: left top;
	color: #3b82f6;
}

mat-error {
	color: rgb(219, 36, 36);
	font-size: 0.8em;
	padding-left: 0.5em;
}
