<div cdkDropListGroup class="selector-container">
    <div class="drop-list-container">
        @for (item of fullUserRoleList(); track item.roleId) {
        <div cdkDropList cdkDropListOrientation="mixed" [cdkDropListData]="item.users" class="drop-list"
            (cdkDropListDropped)="drop($event)">
            <div class="role-name">{{item.roleName}}</div>
            @for (name of item.users; track name.id) {
            <div cdkDrag class="drop-list-item">{{name.name}}</div>
            }
        </div>
        }
    </div>
    <div class="drop-list-container">
        <div cdkDropList cdkDropListOrientation="mixed" [cdkDropListData]="searchBarService.filteredNameList()"
            class="drop-list" (cdkDropListDropped)="drop($event)">
            @for (name of searchBarService.filteredNameList(); track name.id) {
            <div cdkDrag class="drop-list-item">{{name.name}}</div>
            }
        </div>
    </div>
</div>