<!-- Form bound to workForm FormGroup -->
<div class="dialog-body" [formGroup]="workForm">

    <!-- Project Name Input -->
    <div>
        <div class="form-control">
            <input matInput type="text" class="form-control-input" formControlName="workName">
            <label class="form-control-label" [class.label-up]="f.workName.valid">Work Name</label>
        </div>
        <!-- Error if project name is invalid and touched -->
        <mat-error *ngIf="f.workName.invalid && f.workName.touched">
            Please enter the project name
        </mat-error>
    </div>

    @if (workData) {
    <div class="row">
        <div class="form-control">
            <div class="form-control-input">{{workData.projectName}}
            </div>
            <label class="form-control-label label-up">Project</label>
        </div>

        <div class="form-control">
            <div class="form-control-input">{{workData.subModuleName}}
            </div>
            <label class="form-control-label label-up">subModule</label>
        </div>
    </div>
    }

    <!-- Description Input -->
    <div>
        <div class="form-control">
            <textarea matInput type="text" class="form-control-input" formControlName="description"></textarea>
            <label class="form-control-label" [class.label-up]="f.description.valid">Description</label>
        </div>
        <!-- Error if description is invalid and touched -->
        <mat-error *ngIf="f.description.invalid && f.description.touched">
            Please enter the description
        </mat-error>
    </div>


    <!-- Date Range Picker (nested formGroupName) -->
    <div>
        <div class="form-control" formGroupName="dateRange">
            <mat-date-range-input class="form-control-input" [rangePicker]="rangePicker">
                <input matStartDate readonly formControlName="start">
                <span class="custom-range-separator">–</span>
                <input matEndDate readonly formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker></mat-date-range-picker>
            <label class="form-control-label"
                [class.label-up]="f.dateRange.controls.start.valid || f.dateRange.controls.end.valid">Target
                Date</label>
        </div>
        <!-- Errors for start/end date if invalid and touched -->
        <mat-error *ngIf="f.dateRange.controls.start.invalid && f.dateRange.controls.start.touched">
            Please enter the project start date
        </mat-error>
        <mat-error *ngIf="f.dateRange.controls.end.invalid && f.dateRange.controls.end.touched">
            Please enter the project target date
        </mat-error>
    </div>

    <!-- Priority and State Inputs -->
    <div class="row">
        <div>
            <div class="form-control">
                <input matInput type="text" readonly (click)="priorityTrigger.openPanel()"
                    #priorityTrigger="matAutocompleteTrigger" [matAutocomplete]="autoPriority"
                    class="form-control-input" formControlName="priority">
                <label class="form-control-label" [class.label-up]="f.priority.valid">Priority</label>
                <!-- Priority Autocomplete -->
                <mat-autocomplete #autoPriority="matAutocomplete" [displayWith]="displayName">
                    @for (nameItem of priorityList(); track nameItem.id ) {
                    <mat-option [value]="nameItem">{{ nameItem.name }}</mat-option>
                    }
                </mat-autocomplete>
            </div>
            <!-- Error if priority is invalid and touched -->
            <mat-error *ngIf="f.priority.invalid && f.priority.touched">
                Please select the priority
            </mat-error>
        </div>

        <div>
            <div class="form-control">
                <div class="form-control-input">{{f.state.value?.name}}</div>
                <label class="form-control-label" [class.label-up]="f.state.valid">State</label>
            </div>
            <!-- Error if state is invalid and touched -->
            <mat-error *ngIf="f.state.invalid && f.state.touched">
                Please select the state
            </mat-error>
        </div>
    </div>

    <!-- Tracker and Activity Inputs -->
    <div class="row">
        <div>
            <div class="form-control">
                <input matInput type="text" (click)="trackerTrigger.openPanel()"
                    #trackerTrigger="matAutocompleteTrigger" [matAutocomplete]="autoTrack" class="form-control-input"
                    formControlName="tracker">
                <label class="form-control-label" [class.label-up]="f.tracker.valid">Tracker</label>
                <!-- Tracker Autocomplete -->
                <mat-autocomplete #autoTrack="matAutocomplete" [displayWith]="displayName">
                    @for (nameItem of trackerList(); track nameItem.id ) {
                    <mat-option [value]="nameItem">{{ nameItem.name }}</mat-option>
                    }
                </mat-autocomplete>
            </div>
            <!-- Error if tracker is invalid and touched -->
            <mat-error *ngIf="f.tracker.invalid && f.tracker.touched">
                Please select the tracker
            </mat-error>
        </div>

        <div>
            <div class="form-control">
                <input matInput type="text" readonly (click)="nameItemTrigger.openPanel()"
                    #nameItemTrigger="matAutocompleteTrigger" [matAutocomplete]="autoActivity"
                    class="form-control-input" formControlName="activity">
                <label class="form-control-label" [class.label-up]="f.activity.valid">Activity</label>
                <!-- Activity Autocomplete -->
                <mat-autocomplete #autoActivity="matAutocomplete" [displayWith]="displayName"
                    (optionSelected)="onActivitySelected()">
                    @for (nameItem of activityList(); track nameItem.id ) {
                    <mat-option [value]="nameItem">{{ nameItem.name }}</mat-option>
                    }
                </mat-autocomplete>
            </div>
            <!-- Error if activity is invalid and touched -->
            <mat-error *ngIf="f.activity.invalid && f.activity.touched">
                Please select the activity
            </mat-error>
        </div>
    </div>

    <!-- PIC and Estimated Hours Inputs -->
    <div class="row">
        <div>
            <div class="form-control">
                <!-- Display current PIC -->
                <div class="form-control-input">
                    @if (currentPic()) {
                    {{currentPic().name ||'&nbsp;'}}}</div>
                <label class="form-control-label" [class.label-up]="currentPic().name != ''">PIC</label>
            </div>
            <!-- Error if PIC not selected -->
            <!-- <mat-error *ngIf="currentPic().id ===0 && f..touched">
                Please select the PIC
            </mat-error> -->
        </div>

        <div>
            <div class="form-control">
                <input matInput type="number" class="form-control-input" formControlName="estimatedHours" min="0">
                <label class="form-control-label" [class.label-up]="f.estimatedHours.value != null">Estimated
                    Hours</label>
            </div>
            <!-- Error if estimated hours is invalid and touched -->
            <mat-error *ngIf="f.estimatedHours.invalid && f.estimatedHours.touched">
                Please enter a valid Estimated Hours
            </mat-error>
        </div>
    </div>
</div>