/* General Card Styling */
.card.backlog {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%; /* Ensures it takes full width of its parent */
	box-shadow: none;
	/* padding: 0.3em 0em 0.4em 0em; */
	border-radius: 6px;
	overflow: hidden;
	border: none;
	padding: 0;
	border: 2px dashed rgba(51, 51, 51, 0.2);
	/* overflow: hidden; */
}

.backlog-container {
	display: flex;
	align-items: center;
	width: 100%; /* Ensures it takes full width of its parent */
	height: 3.2em;
}

.backlog-inner-container {
	display: flex;
	align-items: center;
	width: 100%; /* Ensures it takes full width of its parent */
	height: 3.2em;
	border-top: 1px solid rgba(51, 51, 51, 0.25);
}

.indicator {
	width: 9px;
	min-width: 9px;
	height: 100%;
	background-color: var(--primary-white);
	position: sticky;
	left: 0;
	z-index: 2;
}

mat-icon {
	font-size: 1.7em;
	margin-left: 0.1em;
}
.card-name {
	display: flex;
	align-items: center;
	width: 25%;
	font-size: 1.1em;
	font-weight: 600;
	padding: 0 0.5em 0 0.2em;
	transform: translateY(-0.05em);
	transition: color 0.2s ease-in-out;
	margin-left: 0.4em;
}

.card.backlog:hover .card-name {
	color: var(--primary-blue);
}

.card-name span {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
}

/* .section-label.name {
	flex: 1.2;
} */
