<div class="page-container">
    <div class="page-title">
        <!-- Displays the dynamic page title -->
        <h1>{{pageTitle()}}</h1>
    </div>
    <div class="card-container">
        <!-- Check if there are any projects to display -->
        @if (projectPageService.Projects() !== []) {
        <!-- Loop through each project and render a project card -->
        @for (project of projectPageService.Projects(); track $index) {
        <app-card-project [project]="project"
            (cardDeleted)="projectPageService.removeProjectFromArray(project.projectId)"></app-card-project>
        <!-- Passes project data to the card and handles deletion -->
        }
        }
        <!-- If the user is a webmaster, show the 'new project' card for new project creation -->
        @if(isWebMaster()){
        <!-- Refreshes project data when a new project is added -->
        <app-card-project-new (refresh)="projectPageService.getProjectData()"></app-card-project-new>

        }
    </div>
</div>